.form__group {
    position: relative;
    padding: 15px 0 0;
    width: 100%;
}
.form__group2 {
    position: relative;
    padding: 15px 0 0;
    width: 100%;
}
.form__field {
    font-family: inherit;
    width: 100%;
    border: 0;
    border-bottom: 2px solid #9b9b9b;
    outline: 0;
    font-size: 1.3rem;
    color: #000;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
}

.form__field:focus::placeholder{
    visibility: hidden;
}

.form__field:placeholder-shown~.form__label {
    font-size: 1.3rem;
    cursor: text;
    top: 20px;
}

.form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: transparent;
}

.form__field:focus~.form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.24s;
    font-size: 1rem;
    color: #11998e;
    font-weight: 700;
}

.form__field:focus {
    padding-bottom: 6px;
    font-weight: 700;
    border-width: 3px;
    border-image: linear-gradient(to right, #11998e, #38ef7d);
    border-image-slice: 1;
}

/* reset input */

.form__field:required, .form__field:invalid{
    box-shadow: none;
}

/* demo */
#title{
    font-size: inherit;
}
#title::placeholder{
    font-size: 1.3rem;
}
#url{
    font-size: inherit;
}
#url::placeholder{
    font-size: 1.3rem;
}
#categoria{
    font-size: inherit;
}
#categoria::placeholder{
    font-size: 1.3rem;
}

/*Calendar*/

.calendar__field {
    font-family: inherit;
    width: 100%;
    border: 0;
    border-bottom: 2px solid #9b9b9b;
    outline: 0;
    font-size: 1.3rem;
    color: #000;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
}

.calendar__field:focus::placeholder{
    visibility: hidden;
}

.calendar__field:focus~.form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.24s;
    font-size: 1rem;
    color: #11998e;
    font-weight: 700;
}

.calendar__field:focus {
    padding-bottom: 6px;
    font-weight: 700;
    border-width: 3px;
    border-image: linear-gradient(to right, #11998e, #38ef7d);
    border-image-slice: 1;
}

/* reset input */

.calendar__field:required, .calendar__field:invalid{
    box-shadow: none;
}
#calendar{
    font-size: 10px;
}